*{
    margin: 0;
    padding: 0;

}
body{
    overflow: hidden;
    animation: anime linear 6s infinite ;
}
.sky{
    height:100vh;
    width: 100%;
    position: absolute;
    /* background-image: url(background.jpg); */
    

}
.nyc{
    height: 50%;
    width: 100%;
    }
    .container video{
        width: 100%;
        background-size: cover;
        overflow: hidden;
    }
.trees{
    height: 100vh;
    width: 100%;
    /* background-image: url(trees.png); */
    background-size: cover;
    position: absolute;
    background-repeat: repeat-x;
    top: -124px;
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    
    position: absolute;
    top: 73vh;
    animation: carmove linear 5s  infinite ;

}
.car2{
    position: absolute;
    top: 482px;
    left: 100px;
    background-image: url(Car2.png);
    width: 365px;
    height: 129px;
    animation: moving 5s infinite linear;
}
.car{
    height: 100px;
    width: 380px;
    background-image: url(car_body.png);
    background-size: cover;
    background-repeat:no-repeat;
    position: absolute;
    left: 444px;
    bottom: 180px;
    animation: shake linear .6s infinite;
    animation: chalo 3s infinite linear;
}
@keyframes chalo {
    0%{
        left: -100px;
    }
    100%{
        left: 1200px;
    }
    
}
.wheel{

}
.wheel1 img{
    width: 77px;
    position: relative;
    left: 45px;
bottom: 0px;
top: 36px;
animation: wheelRotation linear 0.16s  infinite ;

}

.wheel2 img{
    width: 77px;
    position: relative;
    left: 233px;
    bottom: 45px;
    animation: wheelRotation linear 0.16s  infinite ;
}

@keyframes carmove {
    100%{
        transform:translateX(-500vw);
    }
    
}
@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes shake {
    0%{
      transform: translateY(-5px);
    }
    50%{
    transform: translateY(5px);
    }
    100%{
        transform:translateY(-5px);
    }
}

@keyframes anime {
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-50px);
    }
}
@keyframes moving {
    0%{
        left: 10px;
    }
    100%{
        left: 900px;
    }
}
.pahiya1{
    position: absolute;
    background-image: url(Wheelecar2.png);
    top: 61px;
    left: 39px;
    width: 60px;
    height: 58px;
    border-radius: 50%;
    animation: gola 0.26s infinite linear;

}
.left{
    position: absolute;
    top: 61px;
    left: 39px;
}
.right{
    position:absolute;
    top: 65px;
    left: 264px;
}
@keyframes gola {
    0%{
     transform: rotate(0deg);
    }
    100%{
transform: rotate(360deg);
    }
    
}